body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: black;
}
/*********************  NAVBAR  **********************/
nav{
    overflow: hidden;
    background-color: blue;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    

}
header li{
    float: right;
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    float: left;
}
/*******************p1****************/

#photo-groupe {
    image-orientation: from-image;
}
h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: maroon;
    font-size: 3em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
}
h4{
    text-align: center;
    color: black;
}
main{
    background-color: whitesmoke;
}
p{
    text-align: center;
}
#photo{
    display: flex;
    justify-content: center;
    align-items: center
}
#img{
    display: flex;
    justify-content: center;
    align-items: center
}
#box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}
.p3{
    background-color: blue;
}
#video{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}